.container{
    border: 3px solid #000;
}
.row{
    border: 3px solid red;
}


.orange{
    background: orange;
}
.pink{
    border: 1px solid yellow;
    background: pink;

}
 .blue{
    background: blue;

 }
 .yellowgreen{
    background: yellowgreen;
 }
 .lightsalmon{
    background:lightsalmon ;
 }
 .gold{
    background:gold ;
 }
 .lightgreen{
    background:lightgreen ;
 }