.container{
    border: 1px solid #000;
}
.row{
    border: 1px solid red;
}
.col{
    border: 1px solid yellow;
}

.orange{
    background: orange;
}
.pink{
    background: pink;

}
 .blue{
    background: blue;

 }
 .yellowgreen{
     background: yellowgreen;
 }